@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #2E9CCA;
}

#logo {
    width: 140px;
    margin: 6px;
    transition: all .2s;
}

#logo:hover {
    transform: scale(1.05);
}